<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/layui/css/layui.css" />
</head>
<body>
<div class="x-body">
        <div class="layui-form layui-form-pane" style="padding: 20px 40px;">

            <div class="layui-form-item">
                <label for="passWord" class="layui-form-label">
                    <span class="x-red">*</span>密码
                </label>
                <div class="layui-input-block">
                    <input type="password" name="passWord" id="passWord" required="" lay-verify="required" autocomplete="off" class="layui-input" />
                </div>
            </div>

            <div class="layui-form-item" style="width: 80% ;margin: 0 auto">
                    <button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="login">登录</button>
            </div>
        </div>
</div>
</body>
</html>